/*//*/
/*//*/
/*//*/
/*//*/
/*//*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}
.foodie_header_img {
  background: url('../img/header_img.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  /*overlay put layer of black on header,
    also is a flexbox container*/
}
.foodie_header_img .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.5);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.foodie_header_img .container_nav {
  display: flex;
  justify-content: space-between;
}
.foodie_header_img .container_nav .logo_img {
  color: #F5EDF6;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 2.8rem;
  font-family: 'Indie Flower';
}
.foodie_header_img .container_nav nav {
  margin-top: 2rem;
  text-align: right;
  width: 100%;
}
.foodie_header_img .container_nav nav a {
  text-decoration: none;
  color: #F5EDF6;
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}
.foodie_header_img .container_nav nav a:hover {
  color: orange;
}
.foodie_header_img .container_header_phrase {
  width: 100%;
}
.foodie_header_img .container_header_phrase .foodie_header_phrase {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 3rem;
}
.foodie_header_img .container_header_phrase .foodie_header_phrase .header_phrase2 {
  color: #F5EDF6;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.8rem;
}
.foodie_header_img .container_header_phrase .foodie_header_phrase .header_phrase1 {
  color: #F5EDF6;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
}
.foodie_header_img .header_btn {
  color: #F5EDF6;
  background-color: #ec4834;
  width: 17rem;
  height: 4rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  margin: 0 auto;
  margin-top: 2rem;
  letter-spacing: 0.4rem;
}
.foodie_header_img .header_btn:hover {
  background-color: #f05e4b;
}
.foodie_header_img .header_learn {
  color: #F5EDF6;
  font-size: 1.7rem;
  padding-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.foodie_header_img .header_learn::after {
  background-image: url('../img/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 2.3rem;
  background-size: contain;
  margin-top: 1rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url('../img/header_img.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.container div {
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
}
.container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
.container div img:hover {
  transform: scale(1.15);
}
/*call too action*/
.call_action {
  background: url('../img/header_img.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  color: #F5EDF6;
  width: 100%;
}
.call_action .overlay {
  background-color: rgba(27, 27, 27, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 550px) {
  .call_action .overlay {
    flex-direction: column;
    padding-top: 2rem;
  }
}
.call_action .overlay .action_text {
  padding-left: 0%;
  width: 65%;
}
.call_action .overlay h3 {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
}
.call_action .overlay p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
}
.call_action .overlay .action_btn {
  padding-right: 20%;
  width: 35%;
  font-family: 'Open Sans', sans-serif;
}
.call_action .overlay .action_btn div {
  color: #F5EDF6;
  background-color: #ec4834;
  width: 20rem;
  height: 4rem;
  padding-top: 0.9rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  margin: 0 auto;
  margin-top: 2rem;
  letter-spacing: 0.4rem;
}
.call_action .overlay .action_btn div:hover {
  background-color: #f05e4b;
  width: 20rem;
  height: 4rem;
}
footer {
  height: 30vh;
  background-color: #464655;
}
footer .container_footer_inner {
  text-align: center;
  color: #94958B;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer_icons i {
  margin: 2rem;
}
footer .footer_icons i:hover {
  transform: scale(1.4);
}
